/* ------------ Root Variables ----------------- */
:root {
    --white: white;
    --black: black;
    --grey: grey;
    --red: red;
    --shadow: black 5px 5px 10px;
    --button: #075f5f;
    --background: #ffffff;
    --darker-background: #062e2c;
    --border-radius: 10px;
}

/* ---------- scrollbar ---------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--darker-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background);
}

*{
    font-family: 'Poppins', sans-serif;
}

/* ------------- Navigation ---------- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-background);
    height: 5vh;
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

#featureSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: var(--darker-background);
}

/* ------------- Footer ---------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    height: 2vh;
}

/* ------------- Page ---------- */
.page {
    display: none;
    margin: 0 auto;
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: 88vh;
    background: var(--light-grey);
    animation: fadeIn 0.4s;
    padding: var(--padding-sm);
}


.landing{
    background-color: #fff;
    height: 420px;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    border-radius: 30px;   
}

#loginPage{
    height: 500px;
}


.loginform{
    margin-left: 30px;
    
}

input{
    color: #000;
}

label{
    color:#40514E;
}
#loginPage h1{
    margin-left: 40px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #40514E;
}
/* ------------- Body ---------- */
body {
    margin: 0 auto;
    height: auto;
    color: var(--black);
    background-color: var(--background);
    position: relative;
}

/* ------------- Logo ---------- */
.logo {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: 275px;
    border-radius: 50px;
}

.landImg{
    max-width: 100%;
    max-height: 100%;
}

/* ------------- Placeholder ---------- */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BABABA;
    opacity: 1;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* Firefox */
}


/* ------------- Input Function ---------- */
.inputFunction {
    height: 40px;
    margin-top: 10px;
    margin-bottom: var(--padding-sm);
    padding: 5px 0;
    width: 85%;
    color: #40514E;
    background: var(--background);
    border-radius: var(--border-radius);
    border-style: none;
}

#searchbar{
    display: grid;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    border-radius: 50px;
    
}

#searchbar::placeholder{
    padding-left: 45px;
}


.loginform input {
    padding-left: 20px;
    
}

/* ------------- Account Control Panel ---------- */
#accountControlPanel {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* ------------- Buttons ---------- */
.defaultButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin: 0 auto;
    font-size: 1rem;
    padding: var(--padding-sm);
    background-color: var(--button);
    border-radius: var(--border-radius);
    border-style: var(--white);
}

.loginSignupBtn {
    display: flex;
    justify-content: center;
    color: var(--white);
    margin: 0 auto;
    font-size: 1rem;
    padding: var(--padding-sm);
    background-color: var(--button);
    border-radius: var(--border-radius);
    border-style: var(--white);
}

#login{
    position: absolute;
    bottom: 30vh;
    left: 0;
    right: 0;
    width: 270px;
    padding: 12px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    background-color: #11999E;
}

#signup{
    position: absolute;
    bottom: 8vh;
    left: 0;
    right: 0;
    width: 270px;
    padding: 12px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    background-color: #11999E;
}

#landinglogin{
    position: absolute;
    bottom: 17vh;
    left: 0;
    right: 0;
    width: 300px;
    padding: 15px 20px;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #11999E;
}

#landingsignup{
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    margin-top: 10px;
    width: 300px;
    font-size: 1.5rem;
    padding: 15px;
    background-color: #fff;
    color: #11999E;
    border-color: #11999E;
    border-style: solid;
    border-radius: 15px;
}

.logoptions{
    position: relative;
    margin-top: 14vh;
    text-align: center;
    color: #BABABA;
}


.logoptions h3{
    font-weight: 300;
    font-size: 1rem;
    color: #40514E;
    opacity: 0.8;
}

.signoptions{
    position: relative;
    margin-top: -10px;
    text-align: center;
    color: #BABABA;
}


.signoptions h3{
    font-weight: 300;
    font-size: 1rem;
    color: #40514E;
    opacity: 0.8;
}

#smol{
    margin-top: 25px;
    font-size: 0.8rem;
    opacity: 1;
    font-weight: 600;
}

#smoler{
    font-size: 0.8rem;
    opacity: 1;
    font-weight: 500;
}

#signlink{
    color: #293634;
    font-weight: 600;
}

.logoptionsbtn{
    padding: 7px 25px;
    border-radius: 10px;
    border-color: #BABABA;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    margin: 0 2px;
}

#fb{
    font-size: 1.7rem;
    color: #1977f3;
}

#google{
    font-size: 1.7rem;
    color: #1977f3;  
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;    
}

#apple{
    font-size: 1.7rem;
    color: #000;
}

#search{
    font-size: 1.7rem;
    color: #8c9795;
    position: absolute;
    left: 40px;
    top: 70px;
}

#sliders{
    font-size: 1.7rem;
    color: #8c9795;
    position: absolute;
    right: 45px;
    top: 70px;

}

#interest{
    color: #40514E;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.radio{
    position: relative;
    margin-top: -10px;
    text-align: center;
    color: #40514E;
    font-size: 0.9rem;
    font-weight: 400;
}

/* ------------- Food Component ---------- */
.foodComponent {
    display: grid;
    position: relative;
    height: 260px;
    margin: 5px;
    width: 170px;
    background-color: var(--darker-background);
    border-radius: 15px;
}

.foodImage {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.foodPrice {
    z-index: 5;
    position: absolute;
    right: 2%;
    top: 30%;
    background-color: black;
    padding: var(--padding-sm);
}

.foodDescriptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodFunctions {
    display: grid;
}

/* ------------- My Store ---------- */
#listedItems {
    display: grid;
    height: 60vh;
    grid-template-columns: 50% 50%;
    overflow-y: scroll;
}